In [1]:
reset -fs

In [2]:
import pandas as pd

from sklearn.datasets import load_files
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

In [3]:
# Comment File
comments = 'Data/CommentsApril2018.csv'

In [4]:
# Read in File
comm = pd.read_csv(comments); comm.head()

/anaconda3/envs/ml/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3018: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,approveDate,articleID,articleWordCount,commentBody,commentID,commentSequence,commentTitle,commentType,createDate,depth,...,status,timespeople,trusted,typeOfMaterial,updateDate,userDisplayName,userID,userLocation,userTitle,userURL
0,1524594282,5adf6684068401528a2aa69b,781.0,How could the league possibly refuse this offe...,26853969.0,26853969.0,<br/>,comment,1524594011,1.0,...,approved,1,0,News,1524594282,Christopher Rillo,46566740.0,San Francisco,NaN,NaN
1,1524594252,5adf6684068401528a2aa69b,781.0,"So then the execs can be like ""yeah...we will ...",26853699.0,26853699.0,<br/>,comment,1524593146,1.0,...,approved,1,0,News,1524594252,Matt Brand,64324866.0,"Williamsburg, Brooklyn",NaN,NaN
2,1524594250,5adf6684068401528a2aa69b,781.0,I would not want to play chess against these c...,26853677.0,26853677.0,<br/>,comment,1524593032,1.0,...,approved,1,0,News,1524594250,Joseph,78105093.0,"Fayetteville, AR",NaN,NaN
3,1524593431,5adf6684068401528a2aa69b,781.0,Could the cheerleaders join the Actors' Equity...,26853784.0,26853784.0,<br/>,comment,1524593426,1.0,...,approved,0,0,News,1524593431,Stephen,81939618.0,"Phoenix, AZ",NaN,NaN
4,1524595048,5adf653f068401528a2aa697,656.0,Seeking conclusions which support preconceived...,26854236.0,26854236.0,<br/>,comment,1524595043,1.0,...,approved,1,0,News,1524595048,Paul Zorsky,58642997.0,Texas,NaN,NaN

In [5]:
comm.commentBody.head()

0    How could the league possibly refuse this offe...
1    So then the execs can be like "yeah...we will ...
2    I would not want to play chess against these c...
3    Could the cheerleaders join the Actors' Equity...
4    Seeking conclusions which support preconceived...
Name: commentBody, dtype: object

In [6]:
data = comm.commentBody

In [7]:
sections = comm.sectionName

In [8]:
# Create train/test split with labels
train_data, test_data, train_target, test_target = train_test_split(data,
                                                                    sections,
                                                                    random_state=28)

In [9]:
# Convert the words to number for both training and test data
vectorizer = CountVectorizer(stop_words='english')
train_features = vectorizer.fit_transform(train_data)
test_features = vectorizer.transform(test_data)

In [10]:
nbModel = MultinomialNB()
nbModel.fit(train_features, train_target)
predicted = nbModel.predict(test_features)

In [11]:
accuracy_score(predicted, test_target)

0.6418293548338392